{% extends 'main.html' %} {% block body %}
<div class="container ajout" style="height: auto">
  <form
    enctype="multipart/form-data"
    action="{% url 'conge' employee.id %}"
    method="POST"
  >
    {% csrf_token %}
    <div class="banner">
      <h1>Ajout de conge</h1>
    </div>
    <!-- first -->
    <div class="row">
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Nom"
          name="nom"
          value="{{employee.nom}}"
          required
        />
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Prenom"
          name="prenom"
          value="{{employee.prenom}}"
          required
        />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="row" style="margin: 0">
          <div
            class="col-3"
            style="display: flex; justify-content: center; align-items: center"
          >
            <small>Date de debut de congé : </small>
          </div>
          <div class="col-4" style="padding: 0">
            <input type="date" class="form-control" name="debut" required />
          </div>

          <div
            class="col-1"
            style="display: flex; justify-content: center; align-items: center"
          >
            au
          </div>

          <div class="col-4">
            <input type="date" class="form-control" name="fin" required />
          </div>
        </div>
      </div>
    </div>
    <!--second-->
    <div class="row">
      <div class="col">
        <input
          type="numbre"
          class="form-control"
          placeholder="Nombre de jours de congé"
          name="nombre"
          required
        />
      </div>
      <div class="col">
        <select class="form-select" name="nature">
          <option selected>Nature de congé</option>
          <option value="M">Maladie</option>
          <option value="A">Annuel</option>
          <option value="E">Exceptionnel</option>
        </select>
      </div>
    </div>
    <!--third-->
    <div class="row">
      <div class="col">
        <div class="row" style="margin: 0">
          <div
            class="col-6"
            style="display: flex; justify-content: center; align-items: center"
          >
            <small>Date de retour du congé : </small>
          </div>
          <div class="col-6" style="padding: 0">
            <input
              type="datetime-local"
              class="form-control"
              name="retour"
              required
            />
          </div>
        </div>
      </div>
    </div>
    <!--password-->
    <div class="row">
      <div class="col">
        <textarea
          class="form-control"
          placeholder="commentaire"
          name="commentaire"
          rows="3"
        ></textarea>
      </div>
    </div>

    <!--valide-->
    <div
      class="row"
      style="display: flex; justify-content: center; aligntu-items: center"
    >
      <a
        style="width: auto"
        href="{% url 'ats' %}"
        class="btn btn-danger mb-3 mx-2"
        >Annuler</a
      >
      <button
        style="width: auto"
        type="submit"
        class="btn btn-primary mb-3 mx-2"
      >
        Valider
      </button>
    </div>
  </form>
</div>
{% endblock %}
