{% extends 'main.html' %} {%block title%}Espace ATS{%endblock%} {%block body%}
<div class="container home" style="height: 100%">
  <div class="row" style="margin-left: 3px">
    <form action="{% url 'ats' %}" method="get">
      <div class="input-group search">
        <div class="form-outline">
          <input type="search" name="search" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </form>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NOM</th>
          <th scope="col">PRENOM</th>
          <th scope="col">FONCTION</th>
          <th scope="col">Date de rejoint</th>
          <th scope="col">SUPPRIMER</th>
          <th scope="col">MODIFIER</th>
        </tr>
      </thead>
      <tbody>
        {% for employee in employees %}
        <tr
          class="tr"
          data-nom="{{employee.nom}}"
          data-prenom="{{employee.prenom}}"
          data-id="{{employee.id}}"
          data-image="{{employee.image.url}}"
          data-numero="{{employee.numero}}"
        >
          <td>{{employee.id}}</td>
          <td>{{employee.nom}}</td>
          <td>{{employee.prenom}}</td>
          <td>{{employee.get_function_display}}</td>
          <td>{{employee.date_joined|date:"d/m/Y"}}</td>
          <td>
            <a href="{% url 'supprimerats' employee.id %}"
              ><i class="fa fa-trash" aria-hidden="true" style="color: red"></i
            ></a>
          </td>
          <td>
            <a href="{% url 'editats' employee.id %}">
              <i class="fas fa-edit" style="color: green"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
        <tr>
          <td colspan="7" class="table-active add">
            <a href="{% url 'ajoutats' %}">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock%} {% block script %}
<script>
  document.querySelector(".add").onclick = () => {
    window.location.href = "{% url 'ajoutats' %}";
  };

  document.querySelectorAll(".tr").forEach((row) => {
    row.onclick = () => {
      document.querySelector(".rightbar").style.display = "flex";
      document.querySelector(".rightbar").style.width = "300px";
      document.querySelector(".rightbar").style.opacity = "1";
      document.querySelector(".home").style.width = "70%";
      document.querySelector(".user").src = row.dataset.image;
      /* name */
      document.querySelector(".nom").innerHTML =
        row.dataset.nom + " " + row.dataset.prenom;
      /* numero*/
      document.querySelector(".numero").innerHTML = row.dataset.numero;
    };
  });
</script>
{% endblock script %}
