{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/styles.css' %}"
    />
    <script
      src="https://kit.fontawesome.com/3acc62aaef.js"
      crossorigin="anonymous"
    ></script>

    <title>{% block title %} {%endblock%}</title>
  </head>
  <body style="background-color: #f0f2f5">
    <!--Nav-->
    {% if request.user.is_authenticated %} {% include 'navbar.html' %} {%endif%}
    <!--messages-->
    <div class="container-fluid bbb">
      <div class="rightbar" style="height: 100%">
        {% if request.user.is_authenticated %} {% include 'verticale.html' %}
        {%endif%}
      </div>
      {% for message in messages %}
      <div
        class="alert alert-{{message.tags}} alert-dismissible fade show"
        role="alert"
        style="margin-top: 1rem"
      >
        <strong>Hi {{request.user}}!</strong>
        {{message}}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %}

      <!--Body-->
      {%block body%} {% endblock %}
    </div>

    <!--footer-->
    {% if request.user.is_authenticated %} {%include 'footer.html' %} {%endif%}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    {% block script %} {% endblock script %}
    <script>
      var body = document.body,
        html = document.documentElement;

      var height = Math.max(
        body.scrollHeight,
        body.offsetHeight,
        html.clientHeight,
        html.scrollHeight,
        html.offsetHeight
      );
      console.log(height);
      document.querySelector(".rightbar").style.height = height;
    </script>
  </body>
</html>
