{% extends 'main.html' %} {%block title%}Utilisateurs{%endblock%} {%block body%}
<div class="container home" style="height: auto">
  <div class="row" style="margin-left: 3px">
    <form action="{% url 'users' %}" method="get">
      <div class="input-group search">
        <div class="form-outline">
          <input type="search" name="search" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </form>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NOM</th>
          <th scope="col">PRENOM</th>
          <th scope="col">FONCTION</th>
          <th scope="col">NUMERO</th>
          <th scope="col">SUPPRIMER</th>
          <th scope="col">MODIFIER</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{user.id}}</td>
          <td>{{user.nom}}</td>
          <td>{{user.prenom}}</td>
          <td>{{user.get_fonction_display}}</td>
          <td>{{user.numero}}</td>
          <td>
            <a href="{% url 'supprimer' user.id %}"
              ><i class="fa fa-trash" aria-hidden="true" style="color: red"></i
            ></a>
          </td>
          <td>
            <a href="{% url 'edite' user.id %}">
              <i class="fas fa-edit" style="color: green"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
        <!--hh-->
        {% if is_paginated %}
        <tr>
          <td colspan="7" class="table">
            <div
              style="
                display: flex;
                justify-content: center;
                align-items: center;
              "
            >
              {% if users.has_previous %}
              <div>
                <a href="?page={{users.previous_page_number}}">
                  <i class="fa fa-caret-left fa-2x" aria-hidden="true"></i>
                </a>
              </div>

              {% endif %}
              <div>
                <span style="background-color: #e8e5e5; border-radius: 20px"
                  >{{page_number}}</span
                >
              </div>

              <!--ll-->
              {% if users.has_next %}
              <div>
                <a href="?page={{users.next_page_number}}">
                  <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
                </a>
              </div>

              {% endif %}
            </div>
          </td>
        </tr>

        {% endif %}
        <tr>
          <td colspan="7" class="table-active add">
            <a href="{% url 'ajout' %}">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock%} {% block script %}
<script>
  document.querySelector(".add").onclick = () => {
    window.location.href = "{% url 'ajout' %}";
  };
</script>
{% endblock script %}
