<div
  class="d-flex flex-column bd-highlight mb-3"
  style="width: 100%; color: #fff"
>
  <div
    class="
      bd-highlight
      d-flex
      flex-column
      justify-content-center
      align-items-center
    "
  >
    <div class="bd-highlight">
      <img
        src="https://icon-library.com/images/user-group-icon/user-group-icon-4.jpg"
        alt="user"
        class="user"
      />
    </div>
    <div class="bd-highlight">
      <h5 class="nom"></h5>
    </div>
    <div class="bd-highlight">
      <h5 class="numero"></h5>
    </div>
  </div>
  <div class="p-2 bd-highlight"><hr /></div>
  <div class="d-flex flex-column p-2 bd-highlight">
    <div class="p-2 bd- align-self-center pl-3">
      <h4>Gestion Personnel</h4>
    </div>
    {% if not fonctionnaire %}
    <div class="h bd-highlight">
      <a class="paielink" href="">Gestion de paie</a>
    </div>
    <div class="h bd-highlight"><a href="">Promotion</a></div>
    <div class="h bd-highlight"><a href="">l'avancement d'echlon</a></div>
    <div class="h bd-highlight">
      <a class="prime" href="">Prime de rendement</a>
    </div>
    <div class="h bd-highlight">
      <a class="congelink" href="">l'ajout de congé</a>
    </div>
    {% endif %}
    <div class="h bd-highlight"><a href="">Historique</a></div>
  </div>
  <div class="p-2 bd-highlight"><hr /></div>
  <div class="d-flex flex-column p-2 bd-highlight">
    <div class="p-2 bd- align-self-center pl-3">
      <h4>Fiche personnel</h4>
    </div>
    {% if not fonctionnaire %}
    <div class="h bd-highlight"><a href=""> Fiche de paie </a></div>
    {% endif %}

    <div class="h bd-highlight">
      <a class="attestationpdf" href=""> Attestation de travail</a>
    </div>
    {% if not fonctionnaire %}
    <div class="h bd-highlight">
      <a href="" class="titreConge"> Titre congé </a>
    </div>
    <div class="h bd-highlight"><a href=""> Fiche personelle</a></div>
    {% endif %}
  </div>
</div>
