<div
  class="d-flex flex-column bd-highlight mb-3"
  style="width: 100%; color: #fff"
>
  <div
    class="
      bd-highlight
      d-flex
      flex-column
      justify-content-center
      align-items-center
    "
  >
    <div class="bd-highlight">
      <img
        src="https://icon-library.com/images/user-group-icon/user-group-icon-4.jpg"
        alt="user"
        class="user"
      />
    </div>
    <div class="bd-highlight">
      <h5 class="nom"></h5>
    </div>
    <div class="bd-highlight">
      <h5 class="numero"></h5>
    </div>
  </div>
  <div class="p-2 bd-highlight"><hr /></div>
  <div class="d-flex flex-column p-2 bd-highlight">
    <div class="p-2 bd- align-self-center pl-3">
      <h4>Gestion Personnel</h4>
    </div>
    <div class="h bd-highlight">Gestion de paie</div>
    <div class="h bd-highlight">Promotion</div>
    <div class="h bd-highlight">l'avancement d'echlon</div>
    <div class="h bd-highlight">Prime de rendement</div>
    <div class="h bd-highlight">l'ajout de congé</div>
    <div class="h bd-highlight">Historique</div>
  </div>
  <div class="p-2 bd-highlight"><hr /></div>
  <div class="d-flex flex-column p-2 bd-highlight">
    <div class="p-2 bd- align-self-center pl-3">
      <h4>Fiche personnel</h4>
    </div>
    <div class="h bd-highlight">Fiche de paie</div>
    <div class="h bd-highlight">Attestation de travail</div>
    <div class="h bd-highlight">Titre congé</div>
    <div class="h bd-highlight">Fiche personelle</div>
  </div>
</div>
