{% extends 'pdf/base.html' %}

<!--title-->

{% block title %}Fiche de paie{% endblock title %}
<!--body-->
{% block body %}
<div
  class="titlepdf"
  style="padding-top: 5px; padding-bottom: 0px; margin: 0px"
>
  <h1 style="font-size: 22px">Bulltin de paie</h1>
</div>

<div
  class="tt"
  style="width: 100%; text-align: right; padding-top: 0px:margin:0px"
>
  Paie : {{month}}/{{year}}
</div>
<div class="con">
  <div class="top">
    <table id="upp" class="border">
      <tr>
        <td style="border: none"></td>
        <td class="center1" style="padding-top: 5px; width: 75%">
          <p>Nome: <strong>{{employee.nom}}</strong></p>
        </td>
        <td class="center2" style="padding-top: 5px; width: 75%">
          <p>Prenom: <strong>{{employee.prenom}}</strong></p>
        </td>
        <td style="border: none; padding-top: 5px"></td>
      </tr>

      <tr>
        <td style="border: none; padding-top: 5px"></td>
        <td class="center11" style="width: 75%; padding-top: 5px">
          <p>
            Date de naissance:
            <strong>{{employee.naissance |date:"d/m/Y"}}</strong>
          </p>
        </td>
        <td class="center22" style="width: 75%; padding-top: 5px">
          <p>Mode de paiement: <strong>B.N.A</strong></p>
        </td>
        <td style="border: none; padding-top: 5px"></td>
      </tr>

      <tr>
        <td style="border: none; padding-top: 5px"></td>
        <td
          class="center11"
          style="padding-top: 5px; border-bottom: solid 1px #000"
        >
          <p>Adresse: <strong>{{employee.adresse}}</strong></p>
        </td>
        <td
          class="center22"
          style="padding-top: 5px; border-bottom: solid 1px #000"
        >
          <p>Telephone: <strong>{{employee.numero}}</strong></p>
        </td>
        <td style="border: none; padding-top: 5px"></td>
      </tr>
    </table>
  </div>
</div>

<div class="center">
  <table id="upp" style="border: 1px solid #000">
    <thead>
      <tr>
        <th>Trv</th>
        <th>Num S.S</th>
        <th>Enf</th>
        <th>S.F</th>
        <th>Ech</th>
        <th>Foncion</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="ee">{{paie.nombre_travaille}} jour(s)</td>
        <td class="ee">{{employee.numss}}</td>
        <td class="ee">{{employee.Nenfant}}</td>
        <td class="ee">{{employee.get_situation_display}}</td>
        <td class="ee">{{paie.echelon}}</td>
        <td class="ee">{{employee.get_function_display}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="fiche" style="margin-top: 10px">
  <table id="upp" style="border: 1px solid #000">
    <thead>
      <tr>
        <th style="padding-top: 5px">Libelle</th>
        <th style="width: 15%; padding-top: 5px">TOTAL</th>
      </tr>
    </thead>
    <tbody>
      <!--first-->
      <tr
        style="
          border: none;
          border-left: 1px solid #000;
          border-right: 1px solid #000;
        "
      >
        <td style="padding-top: 5px; padding-left: 4px; border-right: none">
          SAL.BASE :
        </td>
        <td style="padding-top: 5px; width: 15%; border-left: none" class="ee">
          {{paie.salaire |floatformat:2 }}
        </td>
      </tr>
      <!--Second-->
      <tr
        style="
          border: none;
          border-left: 1px solid #000;
          border-right: 1px solid #000;
        "
      >
        <td style="padding-top: 5px; padding-left: 4px; border-right: none">
          BONIF.IND:
        </td>
        <td style="padding-top: 5px; width: 15%; border-left: none" class="ee">
          {{paie.indiciaire |floatformat:2 }}
        </td>
      </tr>
      <!--trois-->
      <tr
        style="
          border: none;
          border-left: 1px solid #000;
          border-right: 1px solid #000;
        "
      >
        <td style="padding-top: 5px; padding-left: 4px; border-right: none">
          IND.MIN:
        </td>
        <td style="padding-top: 5px; width: 15%; border-left: none" class="ee">
          {{paie.indice_minimale |floatformat:2 }}
        </td>
      </tr>
      <!--Second-->
      <tr
        style="
          border: none;
          border-left: 1px solid #000;
          border-right: 1px solid #000;
        "
      >
        <td style="padding-top: 5px; padding-left: 4px; border-right: none">
          G.I.T:
        </td>
        <td style="padding-top: 5px; width: 15%; border-left: none" class="ee">
          {{paie.grille |floatformat:2 }}
        </td>
      </tr>
      <!--5-->
      <tr
        style="
          border: none;
          border-left: 1px solid #000;
          border-right: 1px solid #000;
        "
      >
        <td style="padding-top: 5px; padding-left: 4px; border-right: none">
          I.SAC:
        </td>
        <td style="padding-top: 5px; width: 15%; border-left: none" class="ee">
          {{paie.indemite_sac |floatformat:2 }}
        </td>
      </tr>
      <!--6-->
      <tr
        style="
          border: none;
          border-left: 1px solid #000;
          border-right: 1px solid #000;
        "
      >
        <td style="padding-top: 5px; padding-left: 4px; border-right: none">
          I.STC:
        </td>
        <td style="padding-top: 5px; width: 15%; border-left: none" class="ee">
          {{paie.indemite_stc |floatformat:2 }}
        </td>
      </tr>
      <!--Second-->
      <tr
        style="
          border: none;
          border-left: 1px solid #000;
          border-right: 1px solid #000;
        "
      >
        <td style="padding-top: 5px; padding-left: 4px; border-right: none">
          RETS.S9%:
        </td>
        <td style="padding-top: 5px; width: 15%; border-left: none" class="ee">
          {{securite |floatformat:2 }}
        </td>
      </tr>
      <!--Second-->
      <tr
        style="
          border: none;
          border-left: 1px solid #000;
          border-right: 1px solid #000;
        "
      >
        <td
          style="
            padding-top: 5px;
            padding-right: 4px;
            text-align: right;
            border-right: none;
          "
        >
          TOTAL BRUT IMPOSABLE:
        </td>
        <td style="padding-top: 5px; width: 15%; border-left: none" class="ee">
          {{paie.salaire_brut |floatformat:2 }}
        </td>
      </tr>
      <!--10-->
      <tr
        style="
          border: none;
          border-left: 1px solid #000;
          border-right: 1px solid #000;
        "
      >
        <td style="padding-top: 5px; padding-left: 4px; border-right: none">
          I.TRA:
        </td>
        <td style="padding-top: 5px; width: 15%; border-left: none" class="ee">
          {{paie.indimnite_transport |floatformat:2 }}
        </td>
      </tr>
      <!--11-->
      <tr
        style="
          border: none;
          border-left: 1px solid #000;
          border-right: 1px solid #000;
        "
      >
        <td style="padding-top: 5px; padding-left: 4px; border-right: none">
          I.PAN:
        </td>
        <td style="padding-top: 5px; width: 15%; border-left: none" class="ee">
          {{paie.indimnite_panier |floatformat:2 }}
        </td>
      </tr>
      <!--Second-->
      <tr
        style="
          border: none;
          border-left: 1px solid #000;
          border-right: 1px solid #000;
        "
      >
        <td
          style="
            padding-top: 5px;
            padding-right: 4px;
            text-align: right;
            border-right: none;
          "
        >
          TOTAL BRUT IMP IRG:
        </td>
        <td style="padding-top: 5px; width: 15%; border-left: none" class="ee">
          {{paie.totale_brute_imposable_irg |floatformat:2 }}
        </td>
      </tr>
      <!--10-->
      <tr
        style="
          border: none;
          border-left: 1px solid #000;
          border-right: 1px solid #000;
        "
      >
        <td style="padding-top: 5px; padding-left: 4px; border-right: none">
          RET I.R.G:
        </td>
        <td style="padding-top: 5px; width: 15%; border-left: none" class="ee">
          {{paie.irg |floatformat:2 }}
        </td>
      </tr>
      <!--10-->
      <!--11-->
      <tr
        style="
          border: none;
          border-left: 1px solid #000;
          border-right: 1px solid #000;
        "
      >
        <td style="padding-top: 5px; padding-left: 4px; border-right: none">
          ALL.FAM:
        </td>
        <td style="padding-top: 5px; width: 15%; border-left: none" class="ee">
          {{paie.allocation_familiale |floatformat:2 }}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="bottom1" style="margin-top: 10px">
  <table id="upp" style="border: 1px solid #000">
    <thead>
      <tr>
        <th style="padding-top: 5px">TOTALE RETENUES:</th>
        <th style="width: 15%; padding-top: 5px">{{totale |floatformat:2 }}</th>
      </tr>
    </thead>
  </table>
</div>

<div class="bottom12" style="margin-top: 10px">
  <table id="upp" style="border: 1px solid #000">
    <thead>
      <tr>
        <th style="padding-top: 5px">SALAIRE NET:</th>
        <th style="width: 15%; padding-top: 5px">
          {{paie.salaire_net |floatformat:2 }}
        </th>
      </tr>
    </thead>
  </table>
</div>

<div class="signature1" style="padding-top: 20px">
  fait a Amizour, le: {{current}}
</div>
<div class="signature">Signature</div>

{% endblock body %}
